@import "tailwindcss";

body{
  padding-top: 80px;
  padding-left: 400px;

}
.container{
  border: 2px solid gray;
  border-radius: 20px;
  padding: 5px;
  width: 60%;

}
.input-field{
      border-radius: 10px;
      padding: 30px;
      margin: 10px;
      border-radius: 20px;
}
.signup-btn{
  background: blue;
  padding: 10px;
  border-radius: 10px;
  color: beige;
}
